<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>
      Pokedex App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">

  <ion-searchbar placeholder="Buscar Pokemon" color="medium"></ion-searchbar>


  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="success">001</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="fire">004</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">007</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="water">Water</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="eletric">025</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="eletric">eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="water">382</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Kyogre</h2>
          <ion-badge color="water">water</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/382.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="psychic">282</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Gardevoir</h2>
          <ion-badge color="psychic">Psychic</ion-badge>
          <ion-badge color="fairy">Fairy</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/282.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="ghost">778</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Mimikyu</h2>
          <ion-badge color="ghost">Ghost</ion-badge>
          <ion-badge color="fairy">Fairy</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/778.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="ghost">093</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Haunter</h2>
          <ion-badge color="ghost">Ghost</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/093.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="eletric">172</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Pichu</h2>
          <ion-badge color="eletric">Eletric</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/172.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>

    <ion-item color="dark">

      <ion-chip color="light" slot="start">
        <ion-label color="psychic">151</ion-label>
      </ion-chip>

      <ion-label>
        <div>
          <h2>Mew</h2>
          <ion-badge color="psychic">Psychic</ion-badge>
        </div>
      </ion-label>

      <ion-thumbnail slot="end">
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/151.png">
      </ion-thumbnail>

    </ion-item>

    <ion-item-options side="end">
      <ion-item-option color="danger">
        <ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-content>